<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FootSwitchApp_01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FootSwitchApp_01.Properties.Settings>
            <setting name="FormatAuthFileName" serializeAs="String">
                <value>"{0}"</value>
            </setting>
            <setting name="FormatAuthArguments" serializeAs="String">
                <value>"auth" "{0}"</value>
            </setting>
            <setting name="FormatRegFileName" serializeAs="String">
                <value>"{0}"</value>
            </setting>
            <setting name="FormatRegArguments" serializeAs="String">
                <value>"register""{0}" "{1}" "{2}"</value>
            </setting>
            <setting name="PathExe" serializeAs="String">
                <value>C:\Users\User\Documents\MyProject\FootSwitchApp-01\NeoFace Cloud Type A サンプルC#アプリ\NeoFaceCloudSample\bin\Debug\NeoFaceCloudSample.exe</value>
            </setting>
            <setting name="PathImg" serializeAs="String">
                <value>C:\Users\User\Documents\MyProject\FootSwitchApp-01\FootSwitchApp-01\bin\Debug\result\result_0.bmp</value>
            </setting>
        </FootSwitchApp_01.Properties.Settings>
    </userSettings>
</configuration>